@media screen and  (max-width: 576px) {
    .nav2{
        display: none;
    }
    header .icon{
        display: inline;
        width: 18px;
        margin-right: 20px;
        padding: 10px;
       
    }
    .icon-class{
        border: 2px solid rgb(255, 255, 255);
    }
    .hero{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        margin: 10px;
    }
    .hero2{
        background-clip: border-box;
    }
    .hero2 .box1{
        position: absolute;
        bottom: 40%;
        margin-left: 15px;
    }

    .hero2 .box2{
        position: absolute;
        top: 12%;
        right: 5%;
        padding: 10px;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 25px;
    }

    .run{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 5px;
        border-radius: 18px;
    
        background: rgb(34, 34, 34);
        max-width: 1050px;
        margin: 50px 0px;
    
    }
    
    .run .part1,.part2{
        margin-right: 30px;
        margin-left: 30px;
    }

    .part1 button{
        margin: 10px 10px 10px 0px;
        width: 100%;
        text-align: center;
        
    }

    .bmi2 .container{
       
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr ;
        padding: 0px 15px;
        gap: 5px;
    }

    .form-container
{
    
    margin-right: 10rem;
    margin-bottom: 1rem;
}

    table{
       
        margin-bottom: 1rem;
    }

    .bmi2 h2{
       
        margin-bottom: 1rem;
        
        margin-top: 1rem;
        
    }

    .bmi2 p{
        margin-bottom: 10px;
    }


    .calc-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: start;
    }
    
   
}
@media screen and (min-width:576px) and (max-width:780px) {
    .hero{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        margin: 10px auto;
       
        
    }
    .hero2{
        background-clip: border-box;
    }
    .hero2 .box1{
        position: absolute;
        bottom: 40%;
        margin-left: 15px;
    }

    .hero2 .box2{
        position: absolute;
        top: 12%;
        right: 15%;
        padding: 10px;
    }
    .habit{
        max-width: 580px;
        margin: 0 auto;
    }

    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px 25px;
    }
    .run{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bmi2 .container{
       
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr ;
        padding: 0px 15px;
        gap: 5px;
    }

    .form-container
{
    
    margin-right: 10rem;
    margin-bottom: 1rem;
}

    table{
       
        margin-bottom: 1rem;
    }

    .bmi2 h2{
       
        margin-bottom: 1rem;
        
        margin-top: 1rem;
        
    }

    .bmi2 p{
        margin-bottom: 10px;
    }


    .calc-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: start;
    }




    
}