@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.cursive{
    font-family: "Dancing Script", cursive;
    font-size: 70px;
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
 
   
    
   
}

body{
    background: black;
   
   
}
header{
  
    
  
    background-image: linear-gradient(0deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.3) 100%);
    
}

.btn-primary{
    border-radius: 42px;
    border: none;

    background: rgb(230, 83, 60);
    padding: 10px 32px 10px 32px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;

}

.btn-secondary{

    border-radius: 42px;
    border: 1px solid white;

    margin: 0px 10px;
    background: transparent;
    padding: 10px 36px 10px 36px;

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;

}



nav,.hero{
    max-width: 1050px;
    margin: 0 auto;
    
    display: flex;
    padding-top: 3rem;
    justify-content: space-between;
    
}
.hero{
    max-width: 1050px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    
}

.nav1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 20px;
}

.nav2{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 37px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 15px;

  

    

}

.nav2  p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    
   
    
}

.nav2 button{
    padding: 4px 14px 4px 14px;
    
}

.nav2-2{
    
    background: transparent;
    border: none;
}




.nav2-home{
    border-radius: 46px;
    border: none;
   

    
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    background-color:  rgb(230, 83, 60);
    

}

header .icon{
    display: none;
}


.hero
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
   

}
.hero1{
    margin-left: 20px;
    margin-right: 15px;
}


.hero1 h2{

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    

}

.hero1 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 35px;
}




.b1{
    margin: 50px 0px;
    display: flex;


}

.hero2{
    background-image: url("./images/Images\ 2.png");
    
   background-size: contain;
    
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   height: 550px;
   background-clip: border-box;

}


.hero2 .box1,.box2{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    padding: 15px;
    
    
    position: absolute;
    bottom: 12%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}


.box1 .part1{

    border-radius: 50%;
    background: rgb(230, 83, 60);
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.3px;
    
}

p{
    color: rgba(239, 237, 232, 0.5);
    font-family: Inter;
    font-size: 12px;
}

.box2{
    top: 15%;
    right: 15%;
    height: max-content;
    padding: 20px;
}
.box2 h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    margin-right: 15px;
}





main{
    max-width: 1052px;
    margin: 0 auto;
}

.habit{
    margin-top: 100px;
    
}
.habit h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 650;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;

    
    text-align: center;

}
.habit p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    margin: 14px 0px;

}
.card-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}


.card{
    width: 250px;
   
    
    padding: 10px 0px;
   
}

.card-img-par{
    text-align: center;
    
    display: flex;
    justify-content: center;
}

.card-img{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   overflow: hidden;
   
    
}

.card-img img{
    width: 100%;
    height: 100%;
   
   
}

.card h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;

}

.card p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 10px;
}



.run{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    border-radius: 18px;

    background: rgb(34, 34, 34);
    max-width: 1050px;
    margin: 55px 0px;

}

.part1 h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}

.part1 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.3px;
 
    margin: 12px 0px;
}

.part1 button{
    margin: 30px 0px;
    
}

.run .part1{
    margin: 40px 0px 40px 50px;
   
    align-self: center;
}

.run .part2{
   
    margin: 30px;
    border-radius: 18px;
    overflow: hidden;
}

.part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bmi1{
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0px 10px 0px 10px;

}

.bmi1 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.3px;
    
}

.bmi1 h1{
    color: rgb(255, 255, 255);
font-family: Inter;
}


.bmi2{
   
    background: rgb(34, 34, 34);

}

.bmi2 .container{
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bmi2 h2{
    color: rgb(255, 255, 255);
    margin-bottom: 3rem;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 3rem;
    
}
table,th,td{
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-collapse: collapse;

}
table{
    width: 19rem;
    margin-bottom: 5rem;
}

th{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: Inter;
    font-size: 15px;
    padding: .5rem .5rem .5rem 1rem;
}

td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.3px;
    padding: .4rem .5rem .4rem 1rem;

}

.form-container
{
    
    margin-right: 10rem;
    margin-bottom: 3rem;
}



.form-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
   
}




.calc-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    align-items: start;
    gap: 15px;
    

}

 input,option,select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    
    border: none;
    padding: 10px 20px;
  
    
   
}

h2{
    color: rgb(255, 255, 255);
    
    
}

select{
    
border-right: 15px solid transparent;
}

option{
    
    background: rgba(0,0,0,0.6);
   
    
    

}

.calc-form .act{
    grid-column: 1/3;
}

.calc-form .btn-primary2{
    border-radius: 42px;

background: rgb(230, 83, 60);
padding: 12px 25px;
margin-top: 15px;
margin-bottom: 50px;

color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
border: none;
}

.team1{
    margin: 50px 10px 50px 10px;
    text-align: center;
}



.team-container{
    border-radius: 18px;

background: rgba(255, 255, 255, 0.1);
margin: 0px 5px;
margin-bottom: 50px;
}





.team2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 15px;
    padding: 20px;
}

.trainer{
    display: flex;
    flex-direction: column;
   justify-content: end;
    
    border-radius: 18px;
    padding-bottom: 10px;
    padding-left: 15px;
   
}


.team2 p{
    color: rgba(255, 255, 255, 0.9);
    
    font-size: 12px;
    opacity: 0.7;
    font-family: Inter;

}


.trainer1{
    border-radius: 18px;

    background-image: url("./images/trainer1.png");
    background-size: cover;
    
}
.trainer2{
    background-image: url("./images/trainer2.png");
    background-size: cover;
    background-position:center;

}
.trainer3{
    background-image: url("./images/trainer3.png");
    background-size:cover;
   


}

.trainer4{
    background-image: url("./images/trainer4.png");
    background-size:cover;
    background-position:center;

}

.trainer5{
    background-image: url("./images/trainer5.png");
    background-position: center;
    background-size: cover;

}
.trainer6{
    background-image: url("./images/trainer6.png");
    background-size:cover;
    background-position:center;

}


footer{
    background: rgba(255, 255, 255, 0.1);

}

footer .content{
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 45% 25% 25%;
    padding: 20px;
}


.part1 p{
    margin-left: 15px;
}

.content h2{
    margin-bottom: 20px;
}

.content ul{
    list-style-type: none;
    font-family: Inter;
    color: white;
    

}

.content li{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 15px;
font-weight: 300;

letter-spacing: 0%;
text-align: left;
margin-bottom: 8px;
}

.last{
    max-width: 1050px;
    margin: 0px auto;
    padding-bottom: 15px;
    
}

hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
   
}

.last p{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

.exercise{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px ;
    border-radius: 18px;

    background: rgb(34, 34, 34);
    max-width: 1050px;
    padding: 20px 15px;
    margin-bottom: 100px;
    margin-top: 50px;
   
}

.exercise-container{
  
    display: flex;
    transition: transform 0.3s ease;
    gap: 15px;
}

.exercise-container .e-p1  {
   border-radius: 50px;
  
    overflow: hidden;
   
}

.exercise-container .e-p1 iframe{
    width: 100%;
    height: 100%;
    overflow: auto;
}



.ex-title{
    max-width: 1050px;
    margin: 0 auto;
    font-family: Inter;
    text-align: center;
    margin-top: 50px;
}



.exercise-container .e-p2{
    
    align-content: center;
    margin-left: 5px;
    padding: 10px;
}

.exercise-container .e-p2 :hover {
    transform: scale(1.1); 
}

.e-p2 p{
    margin-top: 5px;
}


.e-p2 a{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    font-size: 12px;
   
}